/**For ALL & RECLICLE ++++++++++++++*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centerText {
    text-align: center;
}

.border {
    border: 2px solid black;
}

.hidden {
    visibility: hidden;
}

footer {
    border-top: 2px solid black;
    font-family: sans-serif;
}

#proCardArt .starImg img {
    max-width: 7%;
}

/**HEADER ++++++++++++++++++++++++ */
.headerTitle p{
    color:rgb(131, 119, 198);
    background-color: black;
    font-family:sans-serif;
    font-size: 50px;
    padding: 30px;
    transition: 0.5s;
}

.headerTitle p:hover {
    color: whitesmoke;
}

.gridContainerMain {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 10px auto;

    gap: 4%;
    justify-items: center;
}

.gridCards {
    display: grid;
    justify-items: center;
    transition: 1s;
}

.cardImg {
    max-width: 90%;
    border-radius: 10%;
    margin: 4%;
}

.cardImg:hover {
    box-shadow: 1px 10px 20px 1px black;
}

.gridCards:hover {
    transform:scale(1.1);
}

#banner {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    border: 5px solid rgb(6, 6, 6);
}

/**GENERALS ++++++++++++++++++++++ */

#headerShop {
    position: relative;
}

#img_carritoCompra {
    max-width: 7%;
    transition: 1s;
    padding: 0.5%;

    display: flex;
    margin-top: 4%;
    margin-left: 90%;
    margin-bottom: 4%;;
}

#img_carritoCompra:hover {
    animation: tilt-n-move-shaking 0.7s infinite;
    border-radius: 20%;
    background-color: rgb(207, 227, 252);
}

#banner {
    transition: 0.7s;
}

#banner:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 10px 10px black;
}

h1 {
    font-family: sans-serif;
    font-size: 25px;

    
    position: absolute;
    top: 20px;
    border-bottom: 2px solid black;
    left: 8%;
}

#carTable { /*no se le puede poner display:flex porque descuadra los TDs */
    background-color: rgb(196, 214, 255);

    position: absolute;
    right: 1.5%;
    top: 90%;

    opacity: 90%;
    max-width: 10px;

    z-index: 1000;
}


td img {
    display:grid;
    margin: 0 auto;

    width: 50%;
    border-radius: 20%;
}

td {
    font-family: sans-serif;
    font-size: 10px;
}

#proCardArt {
    font-family: sans-serif;
}

th{
    font-family: sans-serif;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
}

.add2cart {
    text-decoration: none;
    font-family:Tahoma;
    background-color: rgb(207, 227, 252);
    border: none;
    padding: 3%;
    border-radius: 20%;
    box-shadow: 1px 1px 5px 1px black;
}

.add2cart:hover {
    border: 2px solid rgb(131, 119, 198);
    background-color: whitesmoke;
    box-shadow: none;
}

.tilt-n-move-shaking {
    transition: 1s;
}


.tilt-n-move-shaking:hover {
    animation: tilt-n-move-shaking 0.6s infinite;
}

.jumpBtn {
    display:flex;
    margin-top: 3%;
    margin-bottom: 2%;

    text-decoration: none;
    font-family:Tahoma;
    background-color: rgb(90, 148, 219);
    font-size: 8px;

    border: none;
    padding: 1%;
    max-width: 65%;

    border-radius: 20%;
    box-shadow: 1px 1px 5px 1px black;
    transition: 0.5s;

    margin: 0 auto;
}

.jumpBtn:hover {
    border: 2px solid rgb(131, 119, 198);
    background-color: whitesmoke;
    box-shadow: none;
}

a {
    text-decoration: none;
}

.go2checkout {
    text-decoration: none;
    font-family: Tahoma;

    color: black;
    background-color: rgb(90, 148, 219);

    padding: 1%;
    border-radius: 20%;

    max-width: 15%;
    transition: 0.5s;
}

.go2checkout:hover {
    border: 2px solid rgb(131, 119, 198);
    background-color: whitesmoke;
    box-shadow: none;
}

#shipMsg {
    display: block;
    margin-left: 60%;
    margin-top: 2%;

    font-family: sans-serif;
    font-size: 12px;
    color: rgb(146, 150, 150);
}

/**MEDIA QUERY +++++++++++++++++++ */
/* ===================================
                     media query 768px
======================================*/
@media screen and (min-width:768px) {
    .gridContainerMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        color:rgb(0, 0, 0);
        font-size: 35px;
        margin-left: 15%;
    }

    #img_carritoCompra {
        max-width: 5%;
    }

    #carTable {
        right: 10%;
    }

    td {
        font-size: 15px;
    }

    td img {
        width: 70px;
    }

    th {
        font-size: 20px;
    }

    .jumpBtn {
        font-size: 12px
    }

    h1 {
        left: -80px;
        top: 70px
    }

    #shipMsg {
        font-size: 18px;
    }
}
/*768px end.*/

/* ===================================
                     media query 992px
======================================*/
@media screen and (min-width:992px) {
    .gridContainerMain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    h1 {
        color:rgb(0, 0, 0);
        font-size: 45px;
        margin-left: 10%;
    }

    #img_carritoCompra {
        max-width: 6%;
    }

    #carTable {
        right: 10%;
    }

    td {
        font-size: 18px;
    }

    td img {
        width: 100px;
    }

    th {
        font-size: 25px;
        padding-left: 30px;
    }

    .jumpBtn {
        font-size: 14px
    }

    h1 {
        left: -40px;
        top: 70px
    }

    #shipMsg {
        font-size: 23px;
    }
}
/*992px end.*/

/* ===================================
                    media query 1200px
======================================*/
@media screen and (min-width:1200px) {
    .gridContainerMain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    h1 {
        color:rgb(0, 0, 0);
        font-size: 50px;
        margin-left: 10%;
    }

    #img_carritoCompra {
        max-width: 6%;
    }

    #carTable {
        right: 20%;
    }

    td {
        font-size: 20px;
    }

    td img {
        width: 110px;
    }

    th {
        font-size: 28px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .jumpBtn {
        font-size: 18px;
        width: 100px;
    }
    
    h1 {
        top: 100px;
    }

    #shipMsg {
        font-size: 30px;
    }
}
/*1200px end.*/

/**KEY FRAMES ++++++++++++++++++++ */

/*key frame para hacer saltar el BTN de 'ADD 2 CART" */
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }